<div class="container">
<h2 style="text-decoration:underline;"> Employee Details</h2><br>
<div class="table">
    <div>
        <label> <b> ID: </b></label> {{employee.id}}
    </div><br>
    <div>
        <label> <b> First Name: </b></label> {{employee.firstName}}
    </div><br>
    <div>
        <label> <b> Last Name: </b></label> {{employee.lastName}}
    </div><br>
    <div>
        <label> <b> Email Id: </b></label> {{employee.emailId}}
    </div><br>
    <div>
        <label> <b> Phone No: </b></label> {{employee.contact}}
    </div><br>
    <div>
        <label> <b> Address: </b></label> {{employee.address}}
    </div><br>
    <div>
        <label> <b> Designation: </b></label> {{employee.designation}}
    </div><br>
    <div>
        <label> <b> Salary: </b></label> {{employee.salary}}
    </div><br><br>
    <a href="/employees" class = "btn btn-info"> Back </a>
   
</div>
</div>
